

body {
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  background-image: url("tileable_wood_texture.png");
}

h1 {
  border-bottom: red 2px;

}

a {
  color: red;
}

a:hover {
text-decoration: none;
color: #0bf;
}

.thumbnail {
  height: 600px;

}